html,
body {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100vh;
    background-image: url("img/bg.avif");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Pixelify Sans", sans-serif;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#generator-wrapper,
#clicker-wrapper,
#upgrade-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#generator-wrapper {
    flex: 0.2;
}

#clicker-wrapper {
    flex: 0.6;
}

#clicker-stats-wrapper {
    display: flex;
    flex-direction: column;
}

#current-count,
#production-count {
    text-align: center;
    background-color: #a7796d;
    border-radius: 10px;
    padding: 16px;
    border: 2px solid #664942;
}
#current-count {
    font-size: 2rem;
    font-weight: bold;
}

#production-count {
    font-size: 1.5rem;
}

#upgrade-wrapper {
    flex: 0.2;
}

#clicker-btn-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clicker-btn {
    all: unset;
    aspect-ratio: 1/1;
    width: 100%;
    background-image: url("img/clicker.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
    border-radius: 50%;
}
#clicker-btn:active {
    scale: 1.05;
}
.generator-button,
.upgrade-button {
    all: unset;
    width: 100%;    
    cursor: pointer;
    transition: 0.1s all ease-in-out;
    border-radius: 5px;
    background-color: #c8f7df;
    border: 2px solid #7b9989;
    padding: 10px 20px;
    box-sizing: border-box;
}
.generator-button:hover {
    background-color: #b5e7d5;
}
.generator-button:active {
    background-color: #a5d5c5;
}
.upgrade-button {
    background-color: #d8d6ff;
    border: 2px solid #a8a6bf;
}
